body,ul,li,p,h1,h2,h3,h4,h5,input,button{
	margin:0;
	padding:0;
	border:0;
	box-sizing: border-box;
}	
input,button,textarea,img{
	border:none;
	outline:none;	
}	
li{
	list-style:none;
}
	
a{
	text-decoration : none
}
	
p.title{
	font-size:20px;
}

input{
	margin:20px auto;
	display: block;
	width:100%;
	padding:5px 10px;
	font-size:14px;
	border:1px solid #999;
	border-radius:5px;
}

button{
	padding:5px 20px;
	font-size:14px;
	color:#fff;
	background: #3D6DF2;
	border-radius:5px;
}

video {
	background:#000;
	border: 1px solid #999;
}

audio{
	width: 100%;
}

.btn-group{
	margin-top:20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
	
#login-page,
#call-page,
#wait-page,
#link-page{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:30px;
	width:200px;
	height:auto;
	text-align: center;
	color:#333;
	background:#f2f2f2;
	border-radius:10px;
	box-shadow: 0 0 10px 0 #3D6DF2;
}

#show-page {
	position: relative;
	margin: 30px auto;
	width: 300px;
	height: 300px;
}

#theirs {
	width: 300px;
	height: 400px;
}
#yours {
	position: absolute;
	width: 100px;
	height: 125px;
	top: 0;
	right: 0;
}
