@font-face {
  font-family: 'icomoon';
  src:  url('~common/fonts/icomoon.eot?89n5sm');
  src:  url('~common/fonts/icomoon.eot?89n5sm#iefix') format('embedded-opentype'),
    url('~common/fonts/icomoon.ttf?89n5sm') format('truetype'),
    url('~common/fonts/icomoon.woff?89n5sm') format('woff'),
    url('~common/fonts/icomoon.svg?89n5sm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
  color: #fff;
}
.icon-add-circle:before {
  content: "\e901";
  color: #14a147;
}
.icon-add-on:before {
  content: "\e902";
  color: #14a147;
}
.icon-album:before {
  content: "\e903";
}
.icon-all-off:before {
  content: "\e904";
  color: #bfc1c9;
}
.icon-all-on:before {
  content: "\e905";
  color: #14a147;
}
.icon-bottom:before {
  content: "\e906";
}
.icon-camera:before {
  content: "\e907";
}
.icon-car:before {
  content: "\e908";
  color: #999;
}
.icon-car-off:before {
  content: "\e909";
  color: #bfc1c9;
}
.icon-car-on:before {
  content: "\e90a";
  color: #14a147;
}
.icon-check:before {
  content: "\e90b";
}
.icon-check-circle:before {
  content: "\e90c";
  color: #14a147;
}
.icon-delet:before {
  content: "\e90d";
  color: #fff;
}
.icon-delet1:before {
  content: "\e90e";
  color: #999;
}
.icon-deliver:before {
  content: "\e90f";
  color: #14a147;
}
.icon-down:before {
  content: "\e910";
  color: #e25e0c;
}
.icon-edit:before {
  content: "\e911";
  color: #999;
}
.icon-filter:before {
  content: "\e912";
}
.icon-index-off:before {
  content: "\e913";
  color: #bfc1c9;
}
.icon-index-on:before {
  content: "\e914";
  color: #14a147;
}
.icon-left:before {
  content: "\e915";
}
.icon-list-off:before {
  content: "\e916";
  color: #bfc1c9;
}
.icon-list-on:before {
  content: "\e917";
  color: #14a147;
}
.icon-mine-off:before {
  content: "\e918";
  color: #bfc1c9;
}
.icon-mine-on:before {
  content: "\e919";
  color: #14a147;
}
.icon-pay:before {
  content: "\e91a";
  color: #ff921e;
}
.icon-payment:before {
  content: "\e91b";
  color: #14a147;
}
.icon-qrcode:before {
  content: "\e91c";
  color: #fff;
}
.icon-receive:before {
  content: "\e91d";
  color: #14a147;
}
.icon-right:before {
  content: "\e91e";
}
.icon-search:before {
  content: "\e91f";
  color: #999;
}
.icon-sell:before {
  content: "\e920";
  color: #ff921e;
}
.icon-send:before {
  content: "\e921";
  color: #ff921e;
}
.icon-star:before {
  content: "\e922";
}
